
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import './partial/variables';
@import './partial/btn';
@import './partial/contenedor';
@import './partial/global';
@import './partial/goTop';
@import './partial/header';
@import './partial/nav';
@import './partial/redes';
@import './partial/seccion';
@import './partial/separador';
@import './partial/titulo';
//actividad 5
$bg-danger-subtle: rgba(0, 0, 0, 0.805);
$card-color: rgb(61, 69, 72);
$card-bg: rgba(62, 139, 62, 0.408);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
