.titulo_principal{
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.titulo_secundario{
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
}
